@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.auth-slider-container .swiper-button-next::after,
.auth-slider-container .swiper-button-prev::after {
  display: none !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  border-radius: 12px 0 0 12px !important;
}
